In [1]:
import mysql.connector
import pandas as pd
import numpy as np
import time
from sklearn.model_selection import train_test_split
import turicreate as tc
from sqlalchemy import create_engine

In [2]:
mydb = mysql.connector.connect(
  host="localhost",
  user="root",
  passwd="Vini@123456",
  database='vnfootwear'
)

print(mydb)

<mysql.connector.connection_cext.CMySQLConnection object at 0x7f68d8222290>

In [3]:
df_user = pd.read_sql('select * from users', con=mydb)
query_transactions = 'SELECT orders.user_id, order_details.product_id FROM orders INNER JOIN order_details ON orders.id=order_details.order_id'
df_order = pd.read_sql(query_transactions, con=mydb)

In [4]:
df_user = df_user['id']
# df_user.head()

In [5]:
# df_order.head(30)

In [6]:
data = df_order.groupby(['user_id', 'product_id'])\
.agg({'product_id': 'count'})\
.rename(columns={'product_id': 'purchase_count'})\
.reset_index()

In [7]:
# data.head(20)

In [8]:
def create_data_dummy(data):
    data_dummy = data.copy()
    data_dummy['purchase_dummy'] = 1
    return data_dummy

In [9]:
data_dummy = create_data_dummy(data)

In [10]:
data_dummy.head()

   user_id  product_id  purchase_count  purchase_dummy
0        1           2               2               1
1        1          14               1               1
2        1          20               3               1
3        1          21               1               1
4        1          32               2               1

In [11]:
# variables to define field names
user_id = 'user_id'
item_id = 'product_id'
target = 'purchase_count'
users_to_recommend = list(df_user)
n_rec = 6 # number of items to recommend
n_display = 30

In [12]:
final_model = tc.item_similarity_recommender.create(tc.SFrame(data_dummy), 
                                            user_id=user_id, 
                                            item_id=item_id, 
                                            target='purchase_dummy', 
                                            similarity_type='cosine')

recom = final_model.recommend(users=users_to_recommend, k=n_rec)
recom.print_rows(n_display)

Warning: Ignoring columns purchase_count;

    To use these columns in scoring predictions, use a model that allows the use of additional features.

Preparing data set.

    Data has 133585 observations with 24429 users and 300 items.

    Data prepared in: 0.060836s

Training model from provided data.

Gathering per-item and per-user statistics.

+--------------------------------+------------+

| Elapsed Time (Item Statistics) | % Complete |

+--------------------------------+------------+

| 1.166ms                        | 4          |

| 7.252ms                        | 100        |

+--------------------------------+------------+

Setting up lookup tables.

Processing data in one pass using dense lookup tables.

+-------------------------------------+------------------+-----------------+

| Elapsed Time (Constructing Lookups) | Total % Complete | Items Processed |

+-------------------------------------+------------------+-----------------+

| 8.021ms                             | 0                | 0               |

| 15.782ms                            | 100              | 300             |

+-------------------------------------+------------------+-----------------+

Finalizing lookup tables.

Generating candidate set for working with new users.

Finished training in 1.03371s

recommendations finished on 1000/30001 queries. users per second: 281373

recommendations finished on 2000/30001 queries. users per second: 271334

recommendations finished on 3000/30001 queries. users per second: 285578

recommendations finished on 4000/30001 queries. users per second: 296560

recommendations finished on 5000/30001 queries. users per second: 267967

recommendations finished on 6000/30001 queries. users per second: 266418

recommendations finished on 7000/30001 queries. users per second: 269024

recommendations finished on 8000/30001 queries. users per second: 276167

recommendations finished on 9000/30001 queries. users per second: 274818

recommendations finished on 10000/30001 queries. users per second: 276403

recommendations finished on 11000/30001 queries. users per second: 279535

recommendations finished on 12000/30001 queries. users per second: 270191

recommendations finished on 13000/30001 queries. users per second: 267308

recommendations finished on 14000/30001 queries. users per second: 271060

recommendations finished on 15000/30001 queries. users per second: 274841

recommendations finished on 16000/30001 queries. users per second: 277879

recommendations finished on 17000/30001 queries. users per second: 281266

recommendations finished on 18000/30001 queries. users per second: 284522

recommendations finished on 19000/30001 queries. users per second: 281073

recommendations finished on 20000/30001 queries. users per second: 279716

recommendations finished on 21000/30001 queries. users per second: 277671

recommendations finished on 22000/30001 queries. users per second: 276959

recommendations finished on 23000/30001 queries. users per second: 272073

recommendations finished on 24000/30001 queries. users per second: 265249

recommendations finished on 25000/30001 queries. users per second: 259673

recommendations finished on 26000/30001 queries. users per second: 259401

recommendations finished on 27000/30001 queries. users per second: 259436

recommendations finished on 28000/30001 queries. users per second: 260487

recommendations finished on 29000/30001 queries. users per second: 249115

recommendations finished on 30000/30001 queries. users per second: 208459

+---------+------------+-----------------+------+
| user_id | product_id |      score      | rank |
+---------+------------+-----------------+------+
|    1    |     3      |  0.100947169463 |  1   |
|    1    |     6      | 0.0721040566762 |  2   |
|    1    |     16     | 0.0642844676971 |  3   |
|    1    |     8      |  0.059973637263 |  4   |
|    1    |     34     | 0.0592671791712 |  5   |
|    1    |     18     | 0.0583299636841 |  6   |
|    2    |     12     |  0.098698474112 |  1   |
|    2    |     2      |  0.089089018958 |  2   |
|    2    |     21     | 0.0639323705719 |  3   |
|    2    |     34     |  0.060363085497 |  4   |
|    2    |     16     | 0.0601210679327 |  5   |
|    2    |     14     | 0.0549096805709 |  6   |
|    3    |     3      |  0.104137460391 |  1   |
|    3    |     2      | 0.0993522703648 |  2   |
|    3    |     6      | 0.0799115796884 |  3   |
|    3    |     16     | 0.0688816805681 |  4   |
|    3    |     21     | 0.0680160522461 |  5   |
|    3    |     18     | 0.0668246249358 |  6   |
|    4    |     47     |  0.105434903077 |  1   |
|    4    |     2      | 0.0678003856114 |  2   |
|    4    |     21     | 0.0623147913388 |  3   |
|    4    |     16     | 0.0553718805313 |  4   |
|    4    |     3      | 0.0537299088069 |  5   |
|    4    |     17     | 0.0510693192482 |  6   |
|    5    |     3      | 0.0848252943584 |  1   |
|    5    |     2      | 0.0792937619346 |  2   |
|    5    |     37     | 0.0532038126673 |  3   |
|    5    |     21     | 0.0516936353275 |  4   |
|    5    |     14     | 0.0492415513311 |  5   |
|    5    |    217     | 0.0473242316927 |  6   |
+---------+------------+-----------------+------+
[180006 rows x 4 columns]

In [13]:
df_rec = recom.to_dataframe()
print(df_rec.shape)
df_rec.head()

(180006, 4)

   user_id  product_id     score  rank
0        1           3  0.100947     1
1        1           6  0.072104     2
2        1          16  0.064284     3
3        1           8  0.059974     4
4        1          34  0.059267     5

In [14]:
df_rec['recommended_products'] = df_rec.groupby([user_id])[item_id].transform(lambda x: '|'.join(x.astype(str)))
df_output = df_rec[['user_id', 'recommended_products']].drop_duplicates().sort_values('user_id').set_index('user_id')

In [15]:
df_output.head()

        recommended_products
user_id
1             3|6|16|8|34|18
2           12|2|21|34|16|14
3             3|2|6|16|21|18
4            47|2|21|16|3|17
5           3|2|37|21|14|217

In [23]:
engine = create_engine('mysql://root:Vini@123456@127.0.0.1/vnfootwear', echo=False)

In [24]:
df_output.to_sql('recommendations', con=engine)