In [5]:
import pandas as pd

In [6]:
orders = pd.read_csv('trx_data.csv')

In [7]:
orders.head()

   customerId                        products
0           0                              20
1           1  2|2|23|68|68|111|29|86|107|152
2           2       111|107|29|11|11|11|33|23
3           3                         164|227
4           5                             2|2

In [8]:
orders['products'] = orders['products'].apply(lambda x: ','.join([str(int(i)+1) for i in x.split('|')]))
orders['customerId'] = orders['customerId'].apply(lambda x: x+1)

In [9]:
orders.head()

   customerId                        products
0           1                              21
1           2  3,3,24,69,69,112,30,87,108,153
2           3       112,108,30,12,12,12,34,24
3           4                         165,228
4           6                             3,3

In [11]:
orders['customerId'].max()

28606