In [1]:
import cloudinary.uploader
import pandas as pd
import uuid

In [2]:
api_key = '933392669637745'
api_secret = '1zoGKEuecwuoB1MTdo-9UYjzf80'
cloud_name = 'fit1501040028'

In [3]:
products_1 = pd.read_csv('famousfootwear_1.csv')
products_2 = pd.read_csv('famousfootwear_2.csv')
products_3 = pd.read_csv('famousfootwear_3.csv')
products_4 = pd.read_csv('famousfootwear_4.csv')

In [4]:
concat_pt = pd.concat([products_1, products_2, products_3, products_4])

In [5]:
total_products = concat_pt.sort_values(by=['product_name']).reset_index(drop=True)

In [6]:
total_products.head()

,product_name,product_image,product_code,product_price
0,Chuck Taylor All Star High Street High Top Sne...,https://www.famousfootwear.com/ProductImages/s...,33426,59.99
1,Chuck Taylor All Star High Street High Top Sne...,https://www.famousfootwear.com/ProductImages/s...,74965,54.99
2,Chuck Taylor All Star High Top Sneaker,https://www.famousfootwear.com/ProductImages/s...,68412,59.99
3,Chuck Taylor All Star High Top Sneaker,https://www.famousfootwear.com/ProductImages/s...,68403,59.99
4,Chuck Taylor All Star High Top Sneaker,https://www.famousfootwear.com/ProductImages/s...,29948,59.99

In [7]:
total_products.loc[total_products['product_price'] == '\r\n            Add to cart for price', ['product_price']] = 59.99

In [8]:
prices = total_products['product_price'].unique()

In [9]:
print(prices)

['59.99' 54.99 59.99 '49.99' '54.99' 49.99 '64.99' '69.99' 64.99 '94.99'
 '89.99' 94.99 89.99 79.99 '79.99' '84.99' 84.99 74.99 '74.99' 44.99 69.99
 '109.99' '99.99' 36.99 '44.99' '39.99']

In [10]:
cloud_ids = []
for index, row in total_products.iterrows():
    product_code = row['product_code']
    image = '/home/lam/Desktop/vini-intern/product_recommend/download/' + str(product_code) + '.jpg'
    image_id = str(uuid.uuid4())
    cloudinary.uploader.upload(image, public_id = image_id, api_key=api_key, api_secret=api_secret, cloud_name=cloud_name)
    cloud_ids.append(image_id)

ids = {'cloud_ids': cloud_ids}
ids_df = pd.DataFrame(data=ids)
products = total_products.join(ids_df)

In [11]:
products.head()

,product_name,product_image,product_code,product_price,cloud_ids
0,Chuck Taylor All Star High Street High Top Sne...,https://www.famousfootwear.com/ProductImages/s...,33426,59.99,e0919662-c8c9-4d09-9dfb-db2cb38d4f79
1,Chuck Taylor All Star High Street High Top Sne...,https://www.famousfootwear.com/ProductImages/s...,74965,54.99,aee5ff01-df76-4f3b-a3ff-3ef22caf4625
2,Chuck Taylor All Star High Top Sneaker,https://www.famousfootwear.com/ProductImages/s...,68412,59.99,2134b7a1-04a8-4617-abe2-a032a51adc3b
3,Chuck Taylor All Star High Top Sneaker,https://www.famousfootwear.com/ProductImages/s...,68403,59.99,19bfb9e6-a894-4ef2-890f-e917eb8dd28d
4,Chuck Taylor All Star High Top Sneaker,https://www.famousfootwear.com/ProductImages/s...,29948,59.99,bdb6f9bd-7cdc-4838-b6b0-6bef56ef2ae2

In [12]:
products.to_csv('total_products.csv', index=False)